
main {

    background-color: #d8c6a2;
    
    }
    
    header {
    
    background-color: #d8c6a2;
    
    }
    
    footer{

        background-color: #d8c6a2;
    
    }
    body{
        background-color: #d8c6a2;  
    }
   